/**
 * This file is for any scss that you may want for this visualizer.
 */
.eager-operation {
  outline: none;
  padding: 0;
  height: 100%;
  display: flex; }
  .eager-operation .pane {
    height: 100%;
    width: 50%; }
