/**
 * This file is for any scss that you may want for this visualizer.
 */
.log-viewer {
  outline: none; }
  .log-viewer .ansi-black {
    color: #000000; }
  .log-viewer .ansi-red {
    color: #c23621; }
  .log-viewer .ansi-green {
    color: #25bc24; }
  .log-viewer .ansi-yellow {
    color: #adad27; }
  .log-viewer .ansi-blue {
    color: #492ee1; }
  .log-viewer .ansi-magenta {
    color: #d338d3; }
  .log-viewer .ansi-cyan {
    color: #33bbc8; }
  .log-viewer .ansi-gray {
    color: #cbcccd; }
