.new-node-decorator rect {
    fill: #78909C;
    /*fill: #90caf9;*/
}

.new-node-decorator circle {
    fill: #81c784;
    /*fill: #90caf9;*/
}

.new-node-decorator line {
    stroke: white;
    stroke-width: 4px;
}

.new-node-decorator .dark line {
    stroke: black;
    stroke-width: 2.5px;
}
