.compute-modal .modal-content .modal-header span {
  font-size: 28px;
  vertical-align: middle;
}

.compute-modal .modal-content .modal-header .header-icon {
  height: 28px;
  width: 28px;
  margin-right: 1ex;
  display: inline-block;
  vertical-align: middle;
  background-size: 28px 28px;
}

.compute-modal .modal-content .modal-body {
  text-align: left;
}

.compute-modal .tab-pane {
  padding: 15px;
}
