.compute-modal .empty-dashboard {
  font-style: italic;
  font-size: 1.3em;
  color: #777;
  text-align: center;
}

.compute-modal .no-dashboards {
  font-style: italic;
  font-size: 1.3em;
  color: #777;
  text-align: center;
}
