<li data-id="<%= id %>" class="select-node">
    <a>
        <%= name %>
        <div class="pull-right">
            <% if (typeof data !== 'undefined') { %>
                <span class="glyphicon glyphicon-cloud-download dl-node"></span>
            <% } %>
            <span class="glyphicon glyphicon-remove del-node"></span>
        </div>
    </a>
</li>
